[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{cs,vb}]
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent

[*.py]
indent_size = 4
tab_width = 4

[{*.css, *.less, *.sass, *.scss}]
indent_style = tab

[{*.ts, *.tsx, *.js, *.jsx, *.cts, *.ctsx, *.cjs, *.cjsx, *.yaml, *.yml}]
indent_style = tab
max_line_length = 200
tab_width = 4
