[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 2
trim_trailing_whitespace = true

[*.py]
indent_size = 4
tab_width = 4

[{*.css, *.less, *.sass, *.scss}]
indent_style = tab

[{*.ts, *.tsx, *.js, *.jsx, *.cts, *.ctsx, *.cjs, *.cjsx}]
indent_style = tab
max_line_length = 200
tab_width = 4
