frontend/helm/theme

node_modules
build
builds
dist

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.history
.idea
*.iml
.coverage
coverage/
junit.xml
report.xml
htmlcov
coverage.xml

__pycache__
*.egg-info
.cache
.local

helm/repo
helm/**/*.tgz
helm/charts/**/theme
environment.env

.envrc
.env

k8s/overlay/hhb-cluster/components/configmaps/redis.conf
k8s/overlay/hhb-cluster/components/configmaps/kustomization.yaml
k8s/overlay/hhb-cluster/components/set-images/kustomization.yaml
k8s/overlay/hhb-cluster/review/ingress-host-patch.yaml
k8s/overlay/hhb-cluster/review/ingress-sb-host-patch.yaml