.react-datepicker {

	&-wrapper,
	&__input-container input {
		display: block;
	}
}

.only-show-on-print {
	display: none;
	visibility: hidden;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.pre-wrap {
	white-space: pre-wrap;
}

@media print {
	.do-not-print {
		display: none;
		visibility: hidden;
		height: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	body {
		visibility: hidden;
		height: 0;
	}

	.break-line {
		overflow-wrap: break-word;
	}

	.print {
		display: block;
		visibility: visible;
		position: absolute;
		left: 0;
		top: 0;
		width: 21cm; // aprox. a4 width
		height: 26.0cm; // aprox. A4 height (bit less for padding)
		padding: 1cm;
		margin: 0;
		border: none;
		background: white;
		page-break-after: auto;
	}

	.printweergave {
		display: inline-flex;
		visibility: visible;
		//max-width: 90%;
		font-size: 18px !important;
		margin: 0 !important;
		padding-bottom: 20px !important;
	}


	.print-title {
		display: inline-flex;
		visibility: visible;
		//max-width: 90%;
		font-size: 18px !important;
		font-weight: bold;
		margin: 0 !important;
		padding-bottom: 50px !important;
	}

	.printweergave-periode {
		display: inline-flex;
		visibility: visible;
		//max-width: 90%;
		font-size: 18px !important;
		margin: 0 !important;
		padding-bottom: 50px !important;
	}
}

.table-overzicht {
	th {
		border-bottom: rgba(0, 0, 0, 0.349) 2px solid;
		color: rgb(0, 0, 0) !important;
		font-weight: bold !important;
		font-size: medium !important;
	}

	.divider-light {
		border-bottom: rgba(0, 0, 0, 0.45) 1px solid;
	}

	.divider-dark-top {
		border-top: rgba(0, 0, 0, 0.60) 2px solid
	}

	.td-word-wrap {
		// word-wrap: break-word;
		white-space: pre-wrap;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}