include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

sast:
  stage: security
  needs: [ ]
  variables:
    SAST_EXCLUDED_ANALYZERS: brakeman, flawfinder, gosec, phpcs-security-audit, pmd-apex, security-code-scan, sobelow, eslint
    SAST_EXCLUDED_PATHS: spec, test, tests, tmp, htmlcov, coverage, docs

dependency_scanning:
  stage: security
  needs: [ ]
  variables:
    SECURE_LOG_LEVEL: debug

secret_detection:
  stage: security
  needs: [ ]

